::root
  --white: #fff
  --black: #000
body
  font-family: "", sans-serif
  font-size: rem()
  font-weight: 600
  line-height: 1.42
  color: var(--white)
  background: var(--black)
  &.lock
    overflow: hidden
a
  transition: all .3s
._wrapper
  display: flex
  flex-direction: column
  overflow: hidden
  min-height: 100%
.main
  flex: 1 1 auto
[class*=__container]
  position: relative
  @include container("", "10px")
  box-sizing: content-box